
/* 모바일 (가로 480px 미만) 용 스타일 */
@media only screen and (max-width: 479px) {
	.content { width: 100%; }
	.description { width: 80%; }
	.default { display: none; }
	.mobile { display: block; }
	.btnView { width: 50%; margin: 10% auto; max-width: 180px; }
	.aDefault  { display: none; }
	.aMobile { display: block; }
	.workView p.title { font-family: 'MuseoSans_500','NanumBarun'; font-size: 0.75em; }
}
 
@media only screen and (min-width: 480px) {
	/* 480px 이상 */
	.description div.default { display: none; }
	.description div.mobile { display: block; }
	.aDefault  { display: block; }
	.aMobile { display: none; }
	.workView p.title { font-family: 'MuseoSans_500','NanumBarun'; font-size: 1em; }
}

@media only screen and (min-width: 600px) {
	/* 600px 이상 */
	.description div.default { display: none; }
	.description div.mobile { display: block; }
}

@media only screen and (min-width: 768px) {
	/* 768px 이상 */
	.description div.default { display: none; }
	.description div.mobile { display: block; }
	.workView p.title { font-family: 'MuseoSans_500','NanumBarun'; font-size: 2em; }
}

@media only screen and (min-width: 992px) {
	/* 992px 이상 */
	.description div.default { display: block; }
	.description div.mobile { display: none; }
}

@media only screen and (min-width: 1382px) {
	/* 1382px 이상 */
	.description div.default { display: block; }
	.description div.mobile { display: none; }
}

@media only screen and (min-width: 1600px) {
	/* 1600px 이상 */
	.description div.default { display: block; }
	.description div.mobile { display: none; }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	/* iPhone4+ 레티나 디스플레이 */
	/*.description div.default { display: block; }
	.description div.mobile { display: none; }*/
}

