html, body, #view, .flickContainer { height: 100%; }
body { font-size: 1em; /* 16px */ color: white; background: #222; }
		
a { color: white; display: block; }
a:hover { text-decoration: none; }
a:link { text-decoration: none; }
a:visite { text-decoration: none; }
a:active { text-decoration: none; }

.block { display: none; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 9999; }

header { position: absolute; z-index: 1000; width: 100%; }
h1 { font-size: 1em; font-family: 'MuseoSans_900'; width: 60px; margin: 24px auto 41px; }
.pageContainer { width: 48px; margin: 0 auto; }

#view { overflow: hidden; /*overflow-y: auto;*/ }
.flickContainer { position: relative; width: 100%; }
.flick { /*960px*/ width: 100%; height: 100%; position: absolute; }

.content { /*460px*/ width: 47.9%; position: relative; margin: 0 auto; /*top: 30%;*/ font-family: 'MuseoSans_500'; font-weight: 400; text-align: center; }
.content p.title { /*25px*/ font-size: 1.56em; }
.content div.ico { margin: 52px auto; }
.content div.ico_work { width: 87px; }
.content div.ico_photo { width: 87px; }
.content div.description { width: 65.2%; margin: 0 auto; font-size: 0.75em; line-height: 20px; }
.work { left: 0%; background: #0f8f9c; }
.photo { left: 100%; background: #afb42b; }
.about { left: -100%; background: #f95451; }
.btnView { border: 1px solid white; width: 180px; height: 48px; margin: 10% auto 0; }
.btnView a { width: 180px; height: 48px; text-align: center; vertical-align: middle; display: table-cell; }
.profile { border: none; margin: 60px auto 0; }
  
/* indicate */
.pages {  }
.indicate { float: left; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; margin: 0 4px; width: 6px; height: 6px; border: 1px solid white;  background: transparent; }
.pageActive { background: white; }

/* arrow container */
.arrowContainer { position: absolute; top: 48%; width: 100%; }
.arrowContainer a { float: left; position: absolute; }
.arrowContainer a.prevCont { left: 3.1%; }
.arrowContainer a.nextCont { right: 3.1%; }


/* work table */
.workTable, .workView, .photoView { width: 100%; height: 100%; position: absolute; top: 0; left: -100%; z-index: 900; display: none; overflow-y: auto; }
.workTable { background: #222222; }
.workTable div.title { position: relative; left: 4%; font-family: 'MuseoSans_500'; font-size: 1.5em; }
.workTable p.desc { position: relative; left: 4%; font-family: 'MuseoSans_300'; font-size: 0.75em; }
.workTable div.listClose { position: absolute; top: 100px; right: 10%; }
/*.workView { background: #257390; }*/
.photoView { background: #257390; }

div.detialContent { position: relative; top: 15%; }

table { width: 97.9%; text-align: center; margin: 5% auto; }
th { font-size:  0.75em; /*12px*/}
tbody td { height: 124px; vertical-align: middle; background: #333333; border-bottom: 1px solid #222; }
td.t_thumb { /*220px*/ width: 23.4%;}
td.t_client { /*100px*/ width: 10.6%;}
td.t_prjName { /*220px*/ width: 23.4%;}
td.t_role { /*180px*/ width: 19.14%;}
td.t_copy { /*220px*/ width: 23.4%;}
tr:hover { color: #fff; }
tr:hover td { background-color: transparent; }


